@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(../imagens/construcao.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

header {
    display: none;
}
nav {
    display: none;
}
main {
    display: none;
}
.texto {
    display: none;
}
footer {
    display: none;
}
.comentarios {
    display: none;
}